<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white">Google File System</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" fragment="inicio" routerLinkActive="active">Inicio <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" fragment="interface" routerLinkActive="active">Interface</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" fragment="arquitetura" routerLinkActive="active">Arquitetura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" fragment="comunicao" routerLinkActive="active">Comunicação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.deinfo.uepg.br/~alunoso/">REA</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>